*
    {
        padding: 0;
        margin: 0;
    }
        .nav{
            width: 100%;
            height: 60px;
            background-color: black;
            display: flex;
        }
        .left{
            margin-left: 1px;
            margin-top: 20px;
        }
        .left ul li{
            color: white;
            display:inline;
            font-size: 17px;
            font-weight: 300;
            padding: 15px;
            font-family: sans-serif;
            
        }
        .left ul li:hover  {
            background-color: rgba(42, 41, 41, 0.958);
            border-radius: 45px;
        }
    
        .right ul li{
            color: white;
            display: inline;
            font-size: 15px;
            padding: 15px;
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
            
        }
        .right ul li:hover{
            background-color: rgba(42, 41, 41, 0.958);
            border-radius: 45px;
            
        }
        .right{
            margin-top: 25px;
            margin-left: 600px;
        }
        #a{

            font-family: sans-serif;
            font-size: 30px;  
            color: white;
            margin-top: 18px;
            font-size: 25px; 
            margin-left: 125px; 
            list-style-type: none; 
            font-weight: 80px;       
        }
       
        
       .left i{
            padding-left: 7px;
            font-size: small;
        }
        .right ul li i{
            padding-right: 10px;
        }
        .right ul li #b{
            padding-right: 7px;
        }
        
        .sign{
            margin-top: -28px;
            margin-left: 300px;
            border: 3px rgb(250, 247, 247) solid;
            border-radius: 45px;
            border-width: 3px;
            width: 100px;
            height: 25px;
            text-align: center;
            padding-top: 6px;
            
        }
        .sign:hover {
            background-color:rgba(42, 41, 41, 0.958);
            border: none;
            background-color: transparent;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .nav ul li{
            margin-left: 10px;
        }
        .child{
            display: none;
        }
        .main{
            width: 100%;
            height: 700px;
            background-image: url(https://img.freepik.com/premium-photo/successful-businessman-handsome-african-american-man-stylish-suit-blue-jacket-black-shirt-glasses-standing-front-cool-new-black-car-street_175356-1571.jpg?w=1060);
            background-repeat: no-repeat;
            background-size: 100% 700px;
        }
        .popup{
            width: 38%;
            height: 150px;
            background-color: white;
            display: inline-flex;
            
            margin-top: 100px;
            margin-left: 200px;
        }
        .popup .img1 {
            width: 30%;
            height: 80px;
            margin-top: 40px;
            margin-left: 10px;
            margin-right: 30px;
            font-size: 35px;
            line-height: 20px;
            text-align: center;
            

        }
        p{
            font-size: 20px;
        }
        .popup .img2{
            width: 30%;
            height: 120px;
            font-size: 30px;
            line-height: 35px;
            margin-top: 20px;
            margin-left: 40px;
            margin-right: 30px;
            text-align: center;
        }
        .popup .img3{
            width: 30%;
            height: 120px;
            line-height: 25px;
            font-size: 50px;
            margin-top: 20px;
            margin-left: 40px;
            text-align: center;
        }
       .nik{
             width: 38%;
            height: 350px;
            background-color: white;
           border-top: 1px rgba(74, 71, 71, 0.156) solid;
            margin-left: 200px;
       }
       .nik h1{
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
       }
        .nik input{
            border: transparent;
            background-color: rgba(227, 225, 223, 0.551);
            height: 50px;
            width: 70%;
            line-height: 50px;
            margin-left: 80px;
            text-align: center;
            font-size: medium;
            font-weight: 600;
        
        }
        button {
            height: 50px;
            width: 30%;
            background-color: black;
            color: white;
        }
        #one
        {
            margin-left: 80px;
            margin-right: 50px;
            border-radius: 10px;
            font-size: medium;
        }
        #one:hover{
            background-color: rgba(10, 9, 9, 0.894);
            
        }
        #two{
            border-radius: 10px;
            background-color: rgb(187, 183, 183);
            color: black;
            font-weight: 600;
            font-size: medium;
        }
        #two:hover{
            background-color: rgba(128, 128, 128, 0.861);
        }
        .getstarted{
            background-image: url(https://wallpaperaccess.com/full/1878568.jpg);
            width: 100%;
            height: 350px;
            background-position: -100px;
        background-repeat: no-repeat;
        text-align: center;
            padding-top: 30px;
            color: rgb(249, 245, 244);
            font-size: 25px;
            transition: font-size 2s,color 0.5s;
            
        }
       /* .getstarted h1{
            text-align: center;
            padding-top: 100px;
            color: rgba(247, 245, 245, 0.926);
            font-size: 70px;
            transition: font-size 2s,color 0.5s;
        }
        .getstarted h1:hover {
            color: rgb(255, 0, 0);
            font-size: 75px;
        }*/
        
        .getstarted:hover{
            color: rgb(255, 0, 0);
            font-size: 30px;
        }
        .getstarted button {
            height: 40px;
            width: 15%;
            border-radius: 12px;
            margin-top: 100px;
            margin-left: 0px;
            color: rgb(9, 9, 9);
            background-color: rgb(246, 242, 242);
            border: rgba(14, 13, 14, 0.511) 5px solid;
        }
        .getstarted button:hover{
            background-color: rgba(249, 242, 242, 0.807);
        }
        #ni{
            margin-left: -40px;
            font-size: 20px;
            color: grey;
        }
        .photos{
            width: 100%;
            height: 800px;
            background-color: white;
        }
        .photos #foc h1{
            padding-top: 70px;
            font-size: 35px;
            padding-left: 200px;
            color: rgba(0, 0, 0, 0.819);
        }
       .photos .oneimg #im1 {
            padding-top: 32px;
            padding-left: 200px;
            width: 540px;
            height: 360px;
            transition: all 2s;
            float: left;
            
        }
        .photos .oneimg #im1:hover{
            transform: scale(1.1,1.1);
        }
        .photos .secondimg #im2{
            padding-top: 32px;
            padding-left: 50px;
            width: 540px;
            height: 360px;
            transition: all 2s;
        }
        .photos .secondimg #im2:hover{
            transform: scale(1.1,1.1);   
        }
        
        .photos #h21{
            padding-left: 200px;
            padding-top: 20px;
            color: rgb(51, 50, 50);
            font-weight: 200;
            display: inline-flex;
        }
        .photos #h22{
           display: inline;
            padding-left: 270px;
            color: rgb(51, 50, 50);
            font-weight: 200;
        }
        .photos #span1{
            display: block;
            padding-left: 200px;
            padding-top: 15px;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.663);
            display: inline-flex;
            line-height: 25px;
        }
        .photos #span2{
           display: inline-flex;
            padding-left: 30px;
            padding-top: 15px;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.663);
            line-height: 25px;
        }
        .photos #span3{
            display: block;
            padding-top: 35px;
            font-family: sans-serif;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.826);
            padding-left: 200px;
            display: inline;
        }
        .photos #span3 u{
            text-decoration-color: rgba(0, 0, 0, 0.313);
        }
        .photos #span3 u:hover{
            text-decoration-color: black;
        }
        .photos #span4{
            display: inline-flex;
            padding-top: 35px;
            font-family: sans-serif;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.826);
            padding-left: 50px;
        }
        .photos #span4 u{
            text-decoration-color: rgba(0, 0, 0, 0.313);
        }
        .photos #span4 u:hover{
            text-decoration-color: black;
        }
        .photos #span5{
            display: inline-flex;
            padding-top: 35px;
            font-family: sans-serif;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.826);
            padding-left: 50px;
        }
        .photos #span5 u{
            text-decoration-color: rgba(0, 0, 0, 0.313);
        }
        .photos #span5 u:hover{
            text-decoration-color: black;
        }
        select {
width: 100px;
height: 40px;
line-height: 50px;
-webkit-appearance: menulist-button;
-moz-appearance:none;
font-size: 17px;
padding-left: 5px;
margin-left: 20px;
background-color: transparent;
color: white;
border: none;
}
option:not(:checked) {
   color: #0d0d0d;
}
option:not(:checked) #cm {
   display: none;
}
.aboutus{
    background-color: white;
    width: 25%;
    height: 300px;
    display: inline-block;
    margin-left: 110px;
    text-align: center;
    line-height: 20px;
}
.aboutus a:hover{
    text-decoration: underline;
    color: #0d0d0d;
}
.aboutus .para{
    color: rgba(0, 0, 0, 0.827);
    margin-top: -20px;
}
.aboutus .para2{
    color: rgba(0, 0, 0, 0.54);
    padding-top: 30px;
}
.aboutus .link1{
    color: rgba(0, 0, 0, 0.698);
    font-size: large;
    text-decoration-color: rgba(0, 0, 0, 0.415);
    line-height: 150px;
}
.aboutus .link1:hover{
    text-decoration-color: rgba(0, 0, 0, 0.887);
    text-decoration-line: underline ;
}
#heading h1{
   padding-left: 180px;
   font-size: 50px;
}
.fourboxes{
    height: 300px;
    width: 45%;
    display: inline-flex;
    background-color: white;
    margin-left: 60px;
    margin-bottom: 20px;
}
.fourboxes a{
    font-size: 20px;
    color: black;
   margin-left: -170px;
   margin-top: 120px;
    position: absolute;
    transition: all 0.5s ;
}

.fourboxes a:hover  {
    transform: translateX(30px);
    
}
.fourboxes #auto img{
    height: 160px;
    margin-top: 40px;
    margin-left: 150px;
    float: left;
    transition: all 2s;
}
.fourboxes #auto img:hover{
    transform: scale(1.2,1.2);  
}

.fourboxes #auto1 h1{
    width: 500px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 1100;
    float: left;
    
}
.fourboxes  #auto1 h3{
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 200px;
    color: #0d0d0dbb;
    text-align: justify;
    float: left;
}

.fourboxes #bike img{
    height: 160px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    transition: all 2s;
}
.fourboxes #bike img:hover{
    transform: scale(1.2,1.2);  
}

.fourboxes #bike1 h1{
    width: 500px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 1100;
    float: left;
    
}
.fourboxes  #bike1 h3{
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 200px;
    color: #0d0d0dbb;
    text-align: justify;
    float: left;
}
.fourboxes #car img{
    height: 160px;
    margin-top: 40px;
    margin-left: 150px;
    float: left;
    transition: all 2s;
}
.fourboxes #car img:hover{
    transform: scale(1.2,1.2);  
}

.fourboxes #car1 h1{
    width: 500px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 1100;
    float: left;
    
}
.fourboxes  #car1 h3{
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 200px;
    color: #0d0d0dbb;
    text-align: justify;
    float: left;
}
.fourboxes #carlock img{
    height: 160px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    transition: all 2s;
}
.fourboxes #carlock img:hover{
    transform: scale(1.2,1.2);  
}

.fourboxes #carlock1 h1{
    width: 500px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 1100;
    float: left;
    
}
.fourboxes  #carlock1 h3{
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 200px;
    color: #0d0d0dbb;
    text-align: justify;
    float: left;
}

#easier{
   
    background-color: rgba(226, 225, 222, 0.518);
    width: 100%;
    height: 400px;
}
#easier h1{
    margin-left: 200px;
    font-size: 40px;
    padding-top: 20p;
}
#easier .qr{
    display: inline-flex;
    width: 35%;
    height: 200px;
    margin-top: 80px;
    margin-left: 200px;
    padding-left: 10px;
    background-color: white;
}
.qr img{
    height: 180px;
    width: 180px;
    margin-top: 15px;
}
.qr h2{
    font-size: 25px;
    margin-top: 50px;
    padding-left: 30px;
}
.qr h3{
    font-size: 18px;
    margin-left: -200px;
    margin-top: 80px;
    color: #0d0d0dc2;
    
}
.cont{
    background-color: rgb(10,10,10);
    width: 100%;
    height: 1000px;
}
.cont a{
    text-decoration: none;
}
.cont a:hover{
    text-decoration: underline;
}
.cont #ub,#vi{
    margin-left: 150px;
    margin-bottom: 50px;
    color: white;
}
.cont #ub{
   padding-top: 50px;
}
.darkboxes h2{
line-height: 80px;
color: white;
}
.darkboxes ul li{
    list-style-type: none;
    color: white;
}

.darkboxes{
    background-color: rgb(10, 10, 10);
    width: 220px;
    height: 400px;
    float: left;
    margin-left: 150px;
    line-height: 30px;
}
 #ull{
    display: inline-block;
    margin-top: 50px; 
    font-size: 50px;
    text-indent: 80px;
}
#ull a{
    font-size: 50px;
}
#ull a:hover{
    font-size: 60px;
}
#pay img{
    height: 200px;
    width: 200px;
    margin-left: 150px;
}
.cont h3{
    padding-left: 150px;
    color: white;
    font-size: 15px;
}